<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.path.dao.PathDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.path.domain.vo.PathVO">
        SELECT
        *
        FROM t_path
        <where>
            <!--路线编码/名称-->
            <if test="queryForm.path != null and queryForm.path != ''">
                AND ( INSTR(t_path.code,#{queryForm.path})
                OR INSTR(t_path.name,#{queryForm.path})
            )
            </if>
        </where>
    </select>

    <select id="queryPath">
        SELECT id pathId, code, name FROM t_path
        WHERE 1=1 and is_disabled=0
        <if test="code != null and code != ''">
            AND (code = #{code}
            OR name LIKE concat('%', #{code}, '%'))
        </if>
        <if test="name != null and name != ''">
            AND name LIKE concat('%', #{name}, '%')
        </if>
    </select>

    <insert id="updatePath">
        INSERT INTO t_path(code, name, is_disabled, ctime, cemp_name, description, ts01)
        VALUES ( #{code}, #{name}, #{isDisabled}, #{ctime}, #{cempName}, #{description}, #{ts01})
    </insert>


    <update id="updatePath">
        UPDATE t_path
        SET code        = #{code},
            name        = #{name},
            is_disabled = #{isDisabled},
            utime       = #{utime},
            uemp_name   = #{uempName},
            description = #{description},
            ts01        = #{new_ts01}
        WHERE id = #{id} and ts01= #{ts01}
    </update>



</mapper>