<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.stockinfo.dao.StockInfoDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.stockinfo.domain.vo.StockInfoVO">
        SELECT
        *
        FROM t_stock_info
        <where>
            <!--商品编码/名称-->
            <if test="queryForm.goodsId != null and queryForm.goodsId != ''">
                        AND INSTR(t_stock_info.goods_id,#{queryForm.goodsId})
            </if>
            <!--仓库编码/名称-->
            <if test="queryForm.depotId != null and queryForm.depotId != ''">
                        AND INSTR(t_stock_info.depot_id,#{queryForm.depotId})
            </if>
        </where>
    </select>

    <insert id="insertStock">
        INSERT INTO t_stock_info(org_id, goods_id, depot_id, stock_num, ctime, cemp_name, description, ts01)
        VALUES( #{orgId}, #{goodsId}, #{depotId}, #{stockNum}, #{ctime}, #{cempName}, #{description}, #{ts01})
    </insert>

    <update id="updateStock">
    UPDATE t_stock_info SET
        stock_num =stock_num + #{stockNum},
        uemp_name = #{uempName},
        utime     = #{utime}
    WHERE org_id = #{orgId} AND goods_id = #{goodsId} AND depot_id = #{depotId}

    </update>


</mapper>