<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.location.dao.LocationDao">

    <!-- 根据父级id 查询子类 -->
    <select id="queryByParentId"
            resultType="net.lab1024.sa.admin.module.business.location.domain.entity.LocationEntity">
        SELECT * FROM t_location
        WHERE
        parent_code IN
        <foreach collection="parentIdList" open="(" separator="," close=")" item="id">#{id}</foreach>
        ORDER BY code ASC
    </select>

    <!-- 根据id 查询 -->
    <select id="queryLocationById"
            resultType="net.lab1024.sa.admin.module.business.location.domain.entity.LocationEntity">
        SELECT * FROM t_location
        WHERE
            id = #{id}
    </select>

    <select id="queryLocationByParenId" resultType="net.lab1024.sa.admin.module.business.location.domain.entity.LocationEntity">
        SELECT * FROM t_location
        WHERE
            parent_code = #{parentId}
    </select>

    <select id="queryLocation"
            resultType="net.lab1024.sa.admin.module.business.location.domain.entity.LocationEntity">
        SELECT * FROM t_location
        WHERE 1=1
    </select>

    <insert id="insertLocation">
        INSERT INTO t_location(code, parent_code, name, location_level, end_level_flag, is_disabled, ctime, cemp_name, ts01)
        VALUES (#{code}, #{parentCode}, #{name}, #{locationLevel}, #{endLevelFlag}, #{isDisabled}, #{ctime}, #{cempName}, #{ts01})
    </insert>


    <update id="updateLocationById">
        UPDATE t_location
        SET code        = #{code},
            parent_code = #{parentCode},
            name        = #{name},
            location_level       = #{locationLevel},
            end_level_flag = #{endLevelFlag},
            is_disabled = #{isDisabled},
            utime       = #{utime},
            uemp_name   = #{uempName},
            ts01        = #{new_ts01}
        WHERE id = #{id} and ts01= #{ts01}
    </update>


</mapper>