<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.agent.dao.AgentDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.agent.domain.vo.AgentVO">
        SELECT
        *
        FROM t_agent
        <where>
            <!--代理商-->
            <if test="queryForm.code != null and queryForm.code != ''">
                AND ( INSTR(t_agent.code,#{queryForm.code})
                OR INSTR(t_agent.name,#{queryForm.code})
            )
            </if>
            <!--联系人-->
            <if test="queryForm.contacts != null and queryForm.contacts != ''">
                        AND INSTR(t_agent.contacts,#{queryForm.contacts})
            </if>
            <!--有效标记-->
            <if test="queryForm.isDisabled != null">
                AND t_agent.is_disabled = #{queryForm.isDisabled}
            </if>
        </where>
    </select>

    <select id="queryAgent">
        SELECT id agentId,code, name FROM t_agent
        WHERE 1=1 and is_disabled=0
        <if test="code != null and code != ''">
            AND (code = #{code}
            OR name LIKE concat('%', #{code}, '%'))
        </if>
        <if test="name != null and name != ''">
            AND name LIKE concat('%', #{name}, '%')
        </if>
    </select>

    <insert id="insertAgent">
        INSERT INTO t_agent(code, name, type, contacts, phone, bank, account_num, is_disabled, ctime, cemp_name, description, ts01)
        VALUES ( #{code}, #{name}, #{type}, #{contacts}, #{phone}, #{bank}, #{accountNum}, #{isDisabled}, #{ctime}, #{cempName}, #{description}, #{ts01})
    </insert>

    <update id="updateAgent">
        UPDATE t_agent
        SET code        = #{code},
            name        = #{name},
            type        = #{type},
            contacts    = #{contacts},
            phone       = #{phone},
            bank        = #{bank},
            account_num = #{accountNum},
            is_disabled = #{isDisabled},
            utime       = #{utime},
            uemp_name   = #{uempName},
            description = #{description},
            ts01        = #{new_ts01}
        WHERE id = #{id} and ts01= #{ts01}
    </update>


</mapper>