<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.supplie.dao.SupplieDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.supplie.domain.vo.SupplieVO">
        SELECT
        *
        FROM t_supplie
        <where>
            <!--供应商信息-->
            <if test="queryForm.supplie != null and queryForm.supplie != ''">
                AND ( INSTR(t_supplie.code,#{queryForm.supplie})
                OR INSTR(t_supplie.name,#{queryForm.supplie})
            )
            </if>
            <!--联系人-->
            <if test="queryForm.contacts != null and queryForm.contacts != ''">
                        AND INSTR(t_supplie.contacts,#{queryForm.contacts})
            </if>
            <!--联系电话-->
            <if test="queryForm.phone != null and queryForm.phone != ''">
                        AND INSTR(t_supplie.phone,#{queryForm.phone})
            </if>
            <!--有效标记-->
            <if test="queryForm.isDisabled != null">
                AND t_supplie.is_disabled = #{queryForm.isDisabled}
            </if>
        </where>
    </select>

    <select id="querySupplie" resultType="net.lab1024.sa.admin.module.business.supplie.domain.vo.SupplieVO">
        SELECT id ,id supplieId, code, name FROM t_supplie
        WHERE 1=1 and is_disabled=0
        <if test="queryForm.code != null and queryForm.code != ''">
            AND (code = #{queryForm.code}
            OR name LIKE concat('%', #{queryForm.code}, '%'))
        </if>
        <if test="queryForm.name != null and queryForm.name != ''">
            AND name LIKE concat('%', #{queryForm.name}, '%')
        </if>
    </select>

    <insert id="insertSupplie">
        INSERT INTO t_supplie(code, name, contacts, phone, bank, account_num, ctime, cemp_name, is_disabled, description, ts01)
        VALUES ( #{code}, #{name},#{ contacts}, #{phone}, #{bank}, #{accountNum}, #{ctime}, #{cempName}, #{isDisabled}, #{description}, #{ts01})
    </insert>

    <update id="updateSupplie">
        UPDATE t_supplie
        SET code        = #{code},
            name        = #{name},
            contacts    = #{contacts},
            phone       = #{phone},
            bank        = #{bank},
            account_num = #{accountNum},
            is_disabled = #{isDisabled},
            utime       = #{utime},
            uemp_name   = #{uempName},
            description = #{description},
            ts01        = #{new_ts01}
        WHERE id = #{id} and ts01= #{ts01}
    </update>

</mapper>