<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.category.dao.CategoryDao">

    <!-- 根据父级id 查询子类 -->
    <select id="queryByParentId"
            resultType="net.lab1024.sa.admin.module.business.category.domain.entity.CategoryEntity">
        SELECT * FROM t_category
        WHERE
        parent_id IN
        <foreach collection="parentIdList" open="(" separator="," close=")" item="id">#{id}</foreach>
    </select>


    <!-- 根据父级id 查询子类 -->
    <select id="queryByParentIdAndType"
            resultType="net.lab1024.sa.admin.module.business.category.domain.entity.CategoryEntity">
        SELECT * FROM t_category
        WHERE
        parent_id IN
        <foreach collection="parentIdList" open="(" separator="," close=")" item="id">#{id}</foreach>
    </select>

    <select id="queryByType"
            resultType="net.lab1024.sa.admin.module.business.category.domain.entity.CategoryEntity">
        SELECT * FROM t_category
        WHERE category_type = #{categoryType}
        ORDER BY category_id ASC
    </select>


    <!-- 查看类目 -->
    <select id="selectOne" resultType="net.lab1024.sa.admin.module.business.category.domain.entity.CategoryEntity">
        SELECT * FROM t_category
        <where>

            <if test="parentId != null">
                AND parent_id = #{parentId}
            </if>
            <if test="categoryName != null">
                AND category_name = #{categoryName}
            </if>
        </where>
        LIMIT 1
    </select>

    <select id="selectByTypeAndId"
            resultType="net.lab1024.sa.admin.module.business.category.domain.entity.CategoryEntity">
        select * from  t_category where 1=1 and category_id = #{categoryId}
    </select>

    <insert id="insertCategory">
        INSERT INTO t_category(category_name, category_type,  parent_id,  disabled_flag,
                               remark,  create_time, cemp_name,  ts01, end_level_flag, category_level)
        VALUES ( #{categoryName},  #{categoryType}, #{parentId},  #{disabledFlag},
                 #{remark},  #{createTime}, #{cempName},  #{ts01}, #{endLevelFlag}, #{categoryLevel})
    </insert>

    <update id="updateCategory">
        UPDATE t_category
        SET category_type = #{categoryType},
            parent_id = #{parentId},
            category_name        = #{categoryName},
            category_level       = #{categoryLevel},
            end_level_flag = #{endLevelFlag},
            disabled_flag = #{disabledFlag},
            update_time       = #{updateTime},
            uemp_name   = #{uempName},
            ts01        = #{ts01}
        WHERE category_id = #{categoryId}
    </update>
</mapper>