<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.depot.dao.DepotDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.depot.domain.vo.DepotVO">
        SELECT
        *
        FROM t_depot
        <where>
            <!--仓库编码/名称-->
            <if test="queryForm.depot != null and queryForm.depot != ''">
                AND ( INSTR(t_depot.code,#{queryForm.depot})
                OR INSTR(t_depot.name,#{queryForm.depot})
            )
            </if>
            <!--有效标记-->
            <if test="queryForm.isDisabled != null">
                AND t_depot.is_disabled = #{queryForm.isDisabled}
            </if>
        </where>
    </select>

    <select id="queryDepot">
        SELECT id depotId, code, name FROM t_depot
        WHERE 1=1 and is_disabled=0
        <if test="code != null and code != ''">
            AND (code = #{code}
            OR name LIKE concat('%', #{code}, '%'))
        </if>
        <if test="name != null and name != ''">
            AND name LIKE concat('%', #{name}, '%')
        </if>
    </select>

    <insert id="insertDepot">
        INSERT INTO t_depot(code, name, is_disabled, ctime, cemp_name, region_code, ts01)
        VALUES ( #{code}, #{name}, #{isDisabled}, #{ctime}, #{cempName}, #{regionCode}, #{ts01})
    </insert>

    <update id="updateDepot">
        UPDATE t_depot
        SET code        = #{code},
            name        = #{name},
            parent_id   = #{parentId},
            is_disabled = #{isDisabled},
            utime       = #{utime},
            uemp_name   = #{uempName},
            ts01        = #{new_ts01}
        WHERE id = #{id} and ts01= #{ts01}
    </update>


</mapper>