<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.brand.dao.BrandDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.brand.domain.vo.BrandVO">
        SELECT
        *
        FROM t_brand
        <where>
            <!--品牌信息-->
            <if test="queryForm.brand != null and queryForm.brand != ''">
                AND ( INSTR(t_brand.code,#{queryForm.brand})
                OR INSTR(t_brand.name,#{queryForm.brand})
            )
            </if>
        </where>
    </select>

    <select id="queryBrand">
        SELECT id brandId,code, name FROM t_brand
        WHERE 1=1 and is_disabled=0
        <if test="code != null and code != ''">
            AND (code = #{code}
            OR name LIKE concat('%', #{code}, '%'))
        </if>
        <if test="name != null and name != ''">
            AND name LIKE concat('%', #{name}, '%')
        </if>
    </select>

    <insert id="insertBrand">
        INSERT INTO t_brand(code, name, is_disabled, ctime, cemp_name, description, ts01)
        VALUES ( #{code}, #{name}, #{isDisabled}, #{ctime}, #{cempName}, #{description}, #{ts01})
    </insert>

    <update id="updateBrand">
        UPDATE t_brand
        SET code        = #{code},
            name        = #{name},
            is_disabled = #{isDisabled},
            utime       = #{utime},
            uemp_name   = #{uempName},
            description = #{description},
            ts01        = #{new_ts01}
        WHERE id = #{id} and ts01= #{ts01}
    </update>


</mapper>