<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.goods.dao.GoodsDao">
    <update id="batchUpdateDeleted">
        update t_goods
        set deleted_flag = #{deletedFlag}
        WHERE goods_id IN
        <foreach collection="goodsIdList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <!-- 分页 查询商品 -->
    <select id="query" resultType="net.lab1024.sa.admin.module.business.goods.domain.vo.GoodsVO">
        SELECT * FROM t_goods
        <where>
            <if test="query.searchWord != null and query.searchWord !=''">
                INSTR(goods_name,#{query.searchWord})
            </if>
            <if test="query.place != null">
                AND place = #{query.place}
            </if>
            <if test="query.goodsStatus != null">
                AND goods_status = #{query.goodsStatus}
            </if>
            <if test="query.categoryId != null">
                AND category_id = #{query.categoryId}
            </if>
            <if test="query.shelvesFlag != null">
                AND shelves_flag = #{query.shelvesFlag}
            </if>
            <if test="query.deletedFlag != null">
                AND deleted_flag = #{query.deletedFlag}
            </if>
        </where>
        <if test="query.sortItemList == null or query.sortItemList.size == 0">
            ORDER BY goods_id DESC
        </if>
    </select>

    <insert id="insertGoods">
        INSERT INTO t_goods(goods_status, category_id, brand_id, goods_code, bar_code, goods_name, place, price, supply_Price,
                            shelves_flag, is_disabled, deleted_flag, remark, image_url, create_time, cemp_name, ts01)
        VALUES ( #{goodsStatus}, #{categoryId}, #{brandId}, #{goodsCode}, #{barCode}, #{goodsName}, #{place}, #{price}, #{supplyPrice},
                #{shelvesFlag}, #{isDisabled}, #{deletedFlag}, #{remark}, #{imageUrl}, #{createTime}, #{cempName}, #{ts01})
    </insert>

    <select id="queryGoods" resultType="net.lab1024.sa.admin.module.business.goods.domain.vo.GoodsVO">
            SELECT goods_id,goods_code,goods_name FROM t_goods WHERE is_disabled=0
        <if test="queryForm.code != null and queryForm.code != ''">
            AND (code = #{queryForm.code}
            OR name LIKE concat('%', #{queryForm.code}, '%'))
        </if>
        <if test="queryForm.name != null and queryForm.name != ''">
            AND name LIKE concat('%', #{queryForm.name}, '%')
        </if>
        ORDER BY goods_id DESC
    </select>

</mapper>