<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.region.dao.RegionDao">

    <!-- 根据父级id 查询子类 -->
    <select id="queryByParentId"
            resultType="net.lab1024.sa.admin.module.business.region.domain.entity.RegionEntity">
        SELECT * FROM t_region
        WHERE
        parent_code IN
        <foreach collection="parentIdList" open="(" separator="," close=")" item="id">#{id}</foreach>
        ORDER BY code ASC
    </select>

    <!-- 根据id 查询 -->
    <select id="queryRegionById"
            resultType="net.lab1024.sa.admin.module.business.region.domain.entity.RegionEntity">
        SELECT * FROM t_region
        WHERE
        code = #{code}
    </select>

    <!-- 根据id 查询 -->
    <select id="queryRegionByParenId"
            resultType="net.lab1024.sa.admin.module.business.region.domain.entity.RegionEntity">
        SELECT * FROM t_region
        WHERE
            parent_code = #{parentCode}
    </select>

    <!-- 初始化界面查询 -->
    <select id="queryRegion"
            resultType="net.lab1024.sa.admin.module.business.region.domain.entity.RegionEntity">
        SELECT * FROM t_region
    </select>

    <insert id="insertRegion">
        INSERT INTO t_region(code, parent_code, name, Level, end_level_flag, full_name, is_disabled, ctime, cemp_name, ts01)
        VALUES (#{code}, #{parentCode}, #{name}, #{Level}, #{endLevelFlag}, #{fullName}, #{isDisabled}, #{ctime}, #{cempName}, #{ts01})
    </insert>

    <update id="updateRegionById">
        UPDATE t_region
        SET parent_code        = #{parentCode},
            name        = #{name},
            Level       = #{Level},
            end_level_flag = #{endLevelFlag},
            full_name = #{fullName},
            is_disabled = #{isDisabled},
            utime       = #{utime},
            uemp_name   = #{uempName},
            description = #{description},
            ts01        = #{new_ts01}
        WHERE code = #{code} and ts01= #{ts01}
    </update>

    <delete id="deleteRegion">
        DELETE FROM t_region WHERE code= #{code}
    </delete>


</mapper>