<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.quipment.dao.QuipmentDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.quipment.domain.vo.QuipmentVO">
        SELECT
        *
        FROM t_quipment
        <where>
            <!--设备编码/名称-->
            <if test="queryForm.code != null and queryForm.code != ''">
                AND ( INSTR(t_quipment.quipment_sn,#{queryForm.code})
                OR INSTR(t_quipment.quipment_name,#{queryForm.code})
            )
            </if>
            <!--设备型号-->
            <if test="queryForm.model != null and queryForm.model != ''">
                        AND INSTR(t_quipment.quipment_model,#{queryForm.model})
            </if>
            <!--设备状态（0：停用，1：正常）-->
            <if test="queryForm.isDisabled != null">
                AND t_quipment.is_disabled = #{queryForm.isDisabled}
            </if>
        </where>
    </select>

    <update id="updateQuipmentById">
        UPDATE t_quipment
        SET quipment_sn    = #{code},
            quipment_name  = #{name},
            quipment_model = #{quipment_model},
            address        = #{address},
            region_code    = #{region_code},
            location_id    = #{location_id},
            depot_id       = #{depot_id},
            agent_id       = #{agent_id},
            path_id        = #{path_id},
            max_inventory  = #{max_inventory},
            share_ratio    = #{share_ratio},
            placementtime  = #{placementtime},
            longitude      = #{longitude},
            latitude       = #{latitude},
            is_disabled    = #{isDisabled},
            utime          = #{utime},
            uemp_name      = #{uempName},
            description    = #{description},
            ts01           = #{new_ts01}
        WHERE id = #{id} and ts01= #{ts01}
    </update>

</mapper>