<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.quipment.dao.QuipmentDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.quipment.domain.vo.QuipmentVO">
        SELECT
        *
        FROM t_quipment
        <where>
            <!--设备编码/名称-->
            <if test="queryForm.code != null and queryForm.code != ''">
                AND ( INSTR(t_quipment.quipment_sn,#{queryForm.code})
                OR INSTR(t_quipment.quipment_name,#{queryForm.code})
            )
            </if>
            <!--设备型号-->
            <if test="queryForm.model != null and queryForm.model != ''">
                        AND INSTR(t_quipment.quipment_model,#{queryForm.model})
            </if>
            <!--设备状态（0：停用，1：正常）-->
            <if test="queryForm.isDisabled != null">
                AND t_quipment.is_disabled = #{queryForm.isDisabled}
            </if>
        </where>
    </select>

    <select id="selectQuipmentById">
        SELECT * FROM t_quipment WHERE
         id = #{id}
    </select>

    <select id="queryQuipmentLog" resultType="net.lab1024.sa.admin.module.business.quipment.domain.vo.QuipmentLogVO">
    SELECT * FROM t_quipment_log WHERE
        quipment_id= #{quipment_id}

    </select>

    <insert id="insertQuipment">
        INSERT INTO t_quipment_log(quipment_sn, quipment_name, quipment_model, address, region_code, location_id, department_id, depot_id, agent_id,
                               path_id, is_disabled, max_inventory, share_ratio, placementtime, longitude, latitude, create_user, create_time, ts01)
        VALUES ( #{quipmentSn}, #{quipmentName}, #{quipmentModel}, #{address}, #{regionCode}, #{locationId}, #{departmentId}, #{depotId}, #{agentId},
                 #{pathId}, #{isDisabled}, #{maxInventory}, #{shareRatio}, #{placementtime}, #{longitude}, #{latitude}, #{createUser}, #{createTime}, #{ts01})
    </insert>

    <insert id="insertQuipmentLog">
        INSERT INTO t_quipment(quipment_id,new_quipment_sn, new_quipment_name, new_quipment_model, new_address, new_region_code, new_location_id, new_department_id, new_depot_id, new_agent_id,
                               new_path_id, new_max_inventory, new_share_ratio, old_quipment_sn, old_quipment_name, old_quipment_model, old_address, old_region_code, old_location_id, old_department_id, old_depot_id, old_agent_id,
                               old_path_id, old_max_inventory, old_share_ratio, create_user, create_time, state,ts01)
        VALUES ( #{quipment_id}, #{new_quipmentSn}, #{new_quipmentName}, #{new_quipmentModel}, #{new_address}, #{new_regionCode}, #{new_locationId}, #{new_departmentId}, #{new_depotId}, #{new_agentId},
                 #{new_pathId},  #{new_maxInventory}, #{new_shareRatio}, #{quipmentSn}, #{quipmentName}, #{quipmentModel}, #{address}, #{regionCode}, #{locationId}, #{departmentId}, #{depotId}, #{agentId},
                 #{pathId},  #{maxInventory}, #{shareRatio}, #{createUser}, #{createTime}, #{isDisabled}, #{ts01})
    </insert>

    <update id="updateQuipmentById">
        UPDATE t_quipment
        SET quipment_sn    = #{code},
            quipment_name  = #{name},
            quipment_model = #{quipment_model},
            address        = #{address},
            region_code    = #{region_code},
            location_id    = #{location_id},
            depot_id       = #{depot_id},
            agent_id       = #{agent_id},
            path_id        = #{path_id},
            max_inventory  = #{max_inventory},
            share_ratio    = #{share_ratio},
            placementtime  = #{placementtime},
            longitude      = #{longitude},
            latitude       = #{latitude},
            is_disabled    = #{isDisabled},
            utime          = #{utime},
            uemp_name      = #{uempName},
            description    = #{description},
            ts01           = #{new_ts01}
        WHERE id = #{id} and ts01= #{ts01}
    </update>

</mapper>