<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.quipment.dao.QuipmentDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.quipment.domain.vo.QuipmentVO">
        SELECT
        *,(select name from t_agent where t_agent.id=t_quipment.agent_id)agent_name,
        (select concat(b.name ,' ',a.name) from t_location a,t_location b where a.id=t_quipment.location_id and a.parent_code=b.id)location_name,
        (select concat(c.name,b.name,a.name) from t_region a,t_region b,t_region c where a.code=t_quipment.region_code and b.code=a.parent_code and b.parent_code=c.code)region_name,
        (select name from t_depot where t_depot.id=t_quipment.depot_id)depot_name,
        (select name from t_path where t_path.id=t_quipment.path_id)path_name,
        (select name from t_department where t_department.department_id=t_quipment.department_id)department_name
        FROM t_quipment
        <where>
            <!--设备编码/名称-->
            <if test="queryForm.code != null and queryForm.code != ''">
                AND ( INSTR(t_quipment.quipment_sn,#{queryForm.code})
                OR INSTR(t_quipment.quipment_name,#{queryForm.code})
            )
            </if>
            <!--设备型号-->
            <if test="queryForm.model != null and queryForm.model != ''">
                        AND INSTR(t_quipment.quipment_model,#{queryForm.model})
            </if>
            <!--设备状态（0：停用，1：正常）-->
            <if test="queryForm.isDisabled != null">
                AND t_quipment.is_disabled = #{queryForm.isDisabled}
            </if>
        </where>
    </select>

    <select id="queryQuipment" resultType="net.lab1024.sa.admin.module.business.quipment.domain.vo.QuipmentVO">
        SELECT id,id quipmentId, quipment_sn, quipment_name FROM t_quipment
        WHERE 1=1
        <if test="queryForm.code != null and queryForm.code != ''">
            AND (quipment_sn = #{queryForm.code}
            OR quipment_name LIKE concat('%', #{queryForm.code}, '%'))
        </if>
        <if test="queryForm.name != null and queryForm.name != ''">
            AND quipment_name LIKE concat('%', #{queryForm.name}, '%')
        </if>
    </select>

    <select id="selectQuipmentById">
        SELECT * FROM t_quipment WHERE
         id = #{id}
    </select>

    <select id="queryQuipmentLog" resultType="net.lab1024.sa.admin.module.business.quipment.domain.vo.QuipmentLogVO">
    SELECT *,
           (select name from t_agent where t_agent.id=t_quipment.agent_id)agentName,
           (select concat(c.name,b.name,a.name) from t_location a,t_location b,t_location c where a.id=t_quipment.location_id and a.parent_code=b.id and b.parent_code=c.id)locationName,
           (select concat(c.name,b.name,a.name) from t_region a,t_region b,t_region c where a.code=t_quipment.region_code and a.code=b.parent_code and b.parent_code=c.code)regionName,
           (select name from t_depot where t_depot.id=t_quipment.depot_id)depotName,
           (select name from t_path where t_path.id=t_quipment.path_id)pathName,
           (select name from t_department where t_department.department_id=t_quipment.department_id)departmentName
           FROM t_quipment_log
           WHERE quipment_id= #{id}
    </select>

    <insert id="insertQuipment">
        INSERT INTO t_quipment(quipment_sn, quipment_name, quipment_model, address, region_code, location_id, department_id, depot_id, agent_id,
                               path_id, is_disabled, max_inventory, share_ratio, placementtime, longitude, latitude, create_user, create_time, ts01)
        VALUES ( #{quipmentSn}, #{quipmentName}, #{quipmentModel}, #{address}, #{regionCode}, #{locationId}, #{departmentId}, #{depotId}, #{agentId},
                 #{pathId}, #{isDisabled}, #{maxInventory}, #{shareRatio}, #{placementtime}, #{longitude}, #{latitude}, #{createUser}, #{createTime}, #{ts01})
    </insert>

    <insert id="insertQuipmentLog">
        INSERT INTO t_quipment_log(quipment_id,quipment_sn, quipment_name, region_code, location_id, department_id, depot_id, agent_id,
                               path_id, max_inventory, share_ratio, create_user, create_time, state,ts01)
        VALUES ( #{quipmentId}, #{quipmentSn}, #{quipmentName}, #{regionCode}, #{locationId}, #{departmentId}, #{depotId}, #{agentId},
                 #{pathId},  #{maxInventory}, #{shareRatio}, #{createUser}, #{createTime}, #{isDisabled}, #{ts01})
    </insert>

    <update id="updateQuipmentById">
        UPDATE t_quipment
        SET quipment_sn    = #{quipmentSn},
            quipment_name  = #{quipmentName},
            quipment_model = #{quipmentModel},
            address        = #{address},
            region_code    = #{regionCode},
            location_id    = #{locationId},
            department_id  = #{departmentId},
            depot_id       = #{depotId},
            agent_id       = #{agentId},
            path_id        = #{pathId},
            max_inventory  = #{maxInventory},
            share_ratio    = #{shareRatio},
            placementtime  = #{placementtime},
            longitude      = #{longitude},
            latitude       = #{latitude},
            is_disabled    = #{isDisabled},
            update_time    = #{updateTime},
            update_user    = #{updateUser},
            ts01           = #{ts01}
        WHERE id = #{id} and ts01= #{ts01}
    </update>

</mapper>